menu "MacDap Led Matrix"

	config LED_MATRIX_GPIO_RANGE_MAX
		int
		default 33 if IDF_TARGET_ESP32
		default 46 if IDF_TARGET_ESP32S2
		default 48 if IDF_TARGET_ESP32S3
		default 18 if IDF_TARGET_ESP32C2
		default 19 if IDF_TARGET_ESP32C3
		default 30 if IDF_TARGET_ESP32C6

	config LED_MATRIX_HUB75_R1
		int "R1 GPIO number"
		default 42
		range 0 LED_MATRIX_GPIO_RANGE_MAX

	config LED_MATRIX_HUB75_G1
		int "G1 GPIO number"
		default 41
		range 0 LED_MATRIX_GPIO_RANGE_MAX

	config LED_MATRIX_HUB75_B1
		int "B1 GPIO number"
		default 40
		range 0 LED_MATRIX_GPIO_RANGE_MAX

	config LED_MATRIX_HUB75_R2
		int "R2 GPIO number"
		default 38
		range 0 LED_MATRIX_GPIO_RANGE_MAX

	config LED_MATRIX_HUB75_G2
		int "G2 GPIO number"
		default 39
		range 0 LED_MATRIX_GPIO_RANGE_MAX

	config LED_MATRIX_HUB75_B2
		int "B2 GPIO number"
		default 37
		range 0 LED_MATRIX_GPIO_RANGE_MAX

	config LED_MATRIX_HUB75_ADDRA
		int "ADDRA GPIO number"
		default 45
		range 0 LED_MATRIX_GPIO_RANGE_MAX

	config LED_MATRIX_HUB75_ADDRB
		int "ADDRB GPIO number"
		default 36
		range 0 LED_MATRIX_GPIO_RANGE_MAX

	config LED_MATRIX_HUB75_ADDRC
		int "ADDRC GPIO number"
		default 48
		range 0 LED_MATRIX_GPIO_RANGE_MAX

	config LED_MATRIX_HUB75_ADDRD
		int "ADDRD GPIO number"
		default 35
		range 0 LED_MATRIX_GPIO_RANGE_MAX

	config LED_MATRIX_HUB75_ADDRE
		int "ADDRE GPIO number"
		default 21
		range -1 LED_MATRIX_GPIO_RANGE_MAX

	config LED_MATRIX_HUB75_CLK
		int "CLK GPIO number"
		default 2
		range 0 LED_MATRIX_GPIO_RANGE_MAX

	config LED_MATRIX_HUB75_LAT
		int "LAT GPIO number"
		default 47
		range 0 LED_MATRIX_GPIO_RANGE_MAX

	config LED_MATRIX_HUB75_OE
		int "OE GPIO number"
		default 14
		range 0 LED_MATRIX_GPIO_RANGE_MAX

	choice LED_MATRIX_MODULE_TYPE
		prompt "Module Format"
		help
			Select LED Panel Matrix Module Format
		config LED_MATRIX_TYPE_X64Y32
			bool "64 x 32"
		config LED_MATRIX_TYPE_X64Y64
			bool "64 x 64"
		config LED_MATRIX_TYPE_X128Y64
			bool "128 x 64"
	endchoice

	config LED_MATRIX_PIXEL_WIDTH
		int
		default 64 if LED_MATRIX_TYPE_X64Y32
		default 64 if LED_MATRIX_TYPE_X64Y64
		default 128 if LED_MATRIX_TYPE_X128Y64

	config LED_MATRIX_PIXEL_HEIGHT
		int
		default 32 if LED_MATRIX_TYPE_X64Y32
		default 64 if LED_MATRIX_TYPE_X64Y64
		default 64 if LED_MATRIX_TYPE_X128Y64

	config LED_MATRIX_MODULE_WIDTH
		int "Panel Module Width"
		default 1
		range 1 16

	config LED_MATRIX_MODULE_HEIGHT
		int "Panel Module Height"
		default 1
		range 1 16

endmenu
