menu "MacDap GPS Configuration"

    # orsource "$PROJECT_DIR/env_caps/$IDF_TARGET/Kconfig.env_caps"
    orsource "$IDF_PATH/examples/common_components/env_caps/$IDF_TARGET/Kconfig.env_caps"

    config GPS_EVENT_LOG
        bool "Log GPS events to console"
        default n
        help
            Enabling this option will log GPS events to console.

	choice GPS_UART
		prompt "UART Number"
        default GPS_UART_NUMBER_0
		help
			Select GPS UART Number
		config GPS_UART_NUMBER_0
			bool "UART #0"
		config GPS_UART_NUMBER_1
			bool "UART #1"
		config GPS_UART_NUMBER_2
			bool "UART #2"
	endchoice
    
    config GPS_UART_NUMBER
        int
        default 0 if GPS_UART_NUMBER_0
        default 1 if GPS_UART_NUMBER_1
        default 2 if GPS_UART_NUMBER_2

    config GPS_UART_RXD
        int "UART RXD pin number"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_IN_RANGE_MAX
        default 44 if GPS_UART_NUMBER_0
        default 18 if GPS_UART_NUMBER_1
        help
            GPIO number for UART RX pin. See UART documentation for more information
            about available pin numbers for UART.

    config GPS_UART_TXD
        int "UART TXD pin number"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_IN_RANGE_MAX
        default 43 if GPS_UART_NUMBER_0
        default 17 if GPS_UART_NUMBER_1
        help
            GPIO number for UART TX pin. See UART documentation for more information
            about available pin numbers for UART.
    
    config GPS_PPS
        int "GPS PPS pin number"
        range -1 ENV_GPIO_IN_RANGE_MAX
        default -1
        help
            GPIO number for GPS PPS pin. See GPIO documentation for more information
            about available pin numbers for GPIO.

    config GPS_RING_BUFFER_SIZE
        int "GPS Ring Buffer Size"
        range 0 2048
        default 1024
        help
            Size of the ring buffer used for UART Rx channel.

    config GPS_LOCAL_TASK_STACK_SIZE
        int "GPS Local Task Stack Size"
        range 0 4096
        default 3072
        help
            Stack size of local task.

    config GPS_LOCAL_TASK_PRIORITY
        int "GPS Local Task Priority"
        range 0 24
        default 2
        help
            Priority of local task.

    menu "NMEA Statement Support"
        comment "At least one statement must be selected"
        config NMEA_STATEMENT_GGA
            bool "GGA Statement"
            default y
            help
                Enabling this option will parse the following parameter from GGA statement:

                - Latitude, Longitude, Altitude;
                - Number of satellites in use, fix status (no fix, GPS, DGPS), UTC time;

        config NMEA_STATEMENT_GSA
            bool "GSA Statement"
            default y
            help
                Enabling this option will parse the following parameter from GSA statement:

                - Position/Vertical/Horizontal dilution of precision;
                - Fix mode (no fix, 2D, 3D fix);
                - IDs of satellites in use;

        config NMEA_STATEMENT_GSV
            bool "GSV Statement"
            default y
            help
                Enabling this option will parse the following parameter from GSV statement:

                - Number of satellites in view;
                - Optional details of each satellite in view;

        config NMEA_STATEMENT_RMC
            bool "RMC Statement"
            default y
            help
                Enabling this option will parse the following parameter from RMC statement:

                - Validity of GPS signal;
                - Ground speed (knots) and course over ground (degrees);
                - Magnetic variation;
                - UTC date;

        config NMEA_STATEMENT_GLL
            bool "GLL Statement"
            default y
            help
                Enabling this option will parse the following parameter from GLL statement:

                - Latitude, Longitude;
                - UTC time;

        config NMEA_STATEMENT_VTG
            bool "VTG Statement"
            default y
            help
                Enabling this option will parse the following parameter from VTG statement:

                - Ground speed (knots, km/h) and course over ground (degrees);
                - Magnetic variation;

        config NMEA_STATEMENT_ZDA
            bool "ZDA Statement"
            default y
            help
                Enabling this option will parse the following parameter from ZDA statement:

                - UTC day, month, and year, and local time zone offset;

        config NMEA_STATEMENT_TXT
            bool "TXT Statement"
            default y
            help
                Enabling this option will parse the following parameter from TXT statement:

                - Text messages with different severity levels (Error, Warning, Notice, User);

    endmenu

endmenu
