menu "MacDap Led Panel"

	config LED_PANEL_GPIO_RANGE_MAX
		int
		default 33 if IDF_TARGET_ESP32
		default 46 if IDF_TARGET_ESP32S2
		default 48 if IDF_TARGET_ESP32S3
		default 18 if IDF_TARGET_ESP32C2
		default 19 if IDF_TARGET_ESP32C3
		default 30 if IDF_TARGET_ESP32C6

	choice LED_PANEL_TYPE
		prompt "Type"
		default LED_PANEL_TYPE_MBI5026
		help
			Select LED Panel Type
		config LED_PANEL_TYPE_MBI5026
			bool "MBI5026 Led Panel Type"
			help
				MBI5026 Led Panel Type
		config LED_PANEL_TYPE_MAX7219
			bool "MAX7219 Led Panel Type"
			help
				MAX7219 Led Panel Type
	endchoice

	choice LED_PANEL_INTERFACE
		prompt "Interface"
		default LED_PANEL_INTERFACE_GPIO
		help
			Select LED Panel Interface
		config LED_PANEL_INTERFACE_GPIO
			bool "GPIO Interface"
			help
				GPIO Interface
		config LED_PANEL_INTERFACE_SPI
			bool "SPI Interface"
			help
				SPI Interface
	endchoice

	config LED_PANEL_EN
		int "ENABLE GPIO number"
		default 14
		range 0 LED_PANEL_GPIO_RANGE_MAX

	config LED_PANEL_DATA
		int "DATA GPIO number"
		default 11
		range 0 LED_PANEL_GPIO_RANGE_MAX

	config LED_PANEL_LATCH
		int "LATCH GPIO number"
		default 10
		range 0 LED_PANEL_GPIO_RANGE_MAX

	config LED_PANEL_CLOCK
		int "CLOCK GPIO number"
		default 12
		range 0 LED_PANEL_GPIO_RANGE_MAX

	choice LED_PANEL_DISPLAY_TYPE
		prompt "Display Type"
		default LED_PANEL_MATRIX_DISPLAY_TYPE
		help
			Select LED Panel Display Type
		config LED_PANEL_MATRIX_DISPLAY_TYPE
			bool "Dot Matrix display"
		config LED_PANEL_SEGMENT_DISPLAY_TYPE
			bool "NOT IMPLEMENTED 7-Segment display"
	endchoice

	if LED_PANEL_MATRIX_DISPLAY_TYPE
		choice LED_PANEL_MATRIX
			prompt "Matrix Module Format"
			help
				Select LED Panel Matrix
			config LED_PANEL_MATRIX_M12_6X8
				depends on LED_PANEL_TYPE_MBI5026
				bool "6w x 8h, 12 inch, 5 led/pixel or 9 led/pixel"
			config LED_PANEL_MATRIX_M6_12X8
				depends on LED_PANEL_TYPE_MBI5026
				bool "12h x 8h, 6 inch, 4 led/pixel"
			config LED_PANEL_MATRIX_M6_16X8
				depends on LED_PANEL_TYPE_MBI5026
				bool "16h x 8h, 6 inch, 3 led/pixel"
			config LED_PANEL_MATRIX_M4_24X8
				depends on LED_PANEL_TYPE_MBI5026
				bool "24w x 8h, 4 inch, 1 led/pixel"
			config LED_PANEL_MATRIX_MAX_8X8
				depends on LED_PANEL_TYPE_MAX7219
				bool "8w x 8h, 1 led/pixel"
			config LED_PANEL_MATRIX_MAX_32X8
				depends on LED_PANEL_TYPE_MAX7219
				bool "32w x 8, 1 led/pixel"
		endchoice

		config LED_PANEL_MATRIX_WIDTH
			int
			default 6  if LED_PANEL_MATRIX_M12_6X8
			default 12 if LED_PANEL_MATRIX_M6_12X8
			default 16 if LED_PANEL_MATRIX_M6_16X8
			default 24 if LED_PANEL_MATRIX_M4_24X8
			default 8  if LED_PANEL_MATRIX_MAX_8X8
			default 32 if LED_PANEL_MATRIX_MAX_32X8

		config LED_PANEL_MATRIX_HEIGHT
			int
			default 8  if LED_PANEL_MATRIX_M12_6X8
			default 8  if LED_PANEL_MATRIX_M6_12X8
			default 8  if LED_PANEL_MATRIX_M6_16X8
			default 8  if LED_PANEL_MATRIX_M4_24X8
			default 8  if LED_PANEL_MATRIX_MAX_8X8
			default 8  if LED_PANEL_MATRIX_MAX_32X8
	endif

	if LED_PANEL_SEGMENT_DISPLAY_TYPE
		choice LED_PANEL_SEGMENT
			prompt "Segment Module Format"
			help
				Select LED Panel Segment
			config S4_LED_PANEL_SEGMENT
				bool "4, 7-segment display"
			config S6_LED_PANEL_SEGMENT
				bool "6, 7-segment display"
			config S8_LED_PANEL_SEGMENT
				bool "8, 7-segment display"
		endchoice

		config LED_PANEL_SEGMENT_WIDTH
			int
			default 4 if S4_LED_PANEL_SEGMENT
			default 6 if S6_LED_PANEL_SEGMENT
			default 8 if S8_LED_PANEL_SEGMENT
	endif

	config LED_PANEL_MODULE_WIDTH
		int "Panel Module Width"
		default 1
		range 0 10

	config LED_PANEL_MODULE_HEIGHT
		int "Panel Module Width"
		default 1
		range 0 10

	config LED_PANEL_MAX7219_MODULE_CHIP_NB
		depends on LED_PANEL_TYPE_MAX7219
		int
		default 1  if LED_PANEL_MATRIX_MAX_8X8
		default 4 if LED_PANEL_MATRIX_MAX_32X8

	if LED_PANEL_TYPE_MBI5026

		config LED_PANEL_LEDC_TIMER
			int "LEDC timer_num"
			default 0
			range 0 3
		
		config LED_PANEL_LEDC_CHANNEL
			int "LEDC channel"
			default 5
			range 0 7

		config LED_PANEL_LEDC_MODE
			int "LEDC speed_mode"
			default 0
			range 0 1

		config LED_PANEL_LEDC_DUTY_RES
			int "LEDC duty_resolution"
			default 13
			range 1 13

		config LED_PANEL_LEDC_FREQUENCY
			int "LEDC freq_hz"
			default 1000

		config LED_PANEL_INITIAL_DUTY_CYCLE
			int "LEDC Initial Duty Cycle"
			default 0
			range 0 100
	endif

endmenu
