menu "MacDap Display Configuration"

    choice OLED_DISPLAY_WIDTH_CHOICE
        prompt "Width in pixels"
        default OLED_DISPLAY_WIDTH_CHOICE_128
        help
            Width of the display in pixels. a.k.a horizontal resolution
        config OLED_DISPLAY_WIDTH_CHOICE_128
            bool "128"
    endchoice

    config OLED_DISPLAY_WIDTH
        int
        default 128 if OLED_DISPLAY_WIDTH_CHOICE_128

        choice OLED_DISPLAY_HEIGHT_CHOICE
        prompt "Height in pixels"
        default OLED_DISPLAY_HEIGHT_CHOICE_64
        help
            Height of the display in pixels. a.k.a vertical resolution

        config OLED_DISPLAY_HEIGHT_CHOICE_64
            bool "64"
        config OLED_DISPLAY_HEIGHT_CHOICE_32
            bool "32"
    endchoice

    config OLED_DISPLAY_HEIGHT
        int
        default 64 if OLED_DISPLAY_HEIGHT_CHOICE_64
        default 32 if OLED_DISPLAY_HEIGHT_CHOICE_32

    config OLED_DISPLAY_I2C_ADDR
        hex "I2C LCD Controller Address"
        range 0 0x7f
        default 0x3C
        help
            I2C LCD Controller Address.

    config OLED_DISPLAY_GPIO_RESET
        int "GPIO RESET pin number"
        range -1 SOC_GPIO_OUT_RANGE_MAX
        default -1
        help
            GPIO number (IOxx) to RESET.
            When -1, RESET isn't performed.

	choice OLED_DISPLAY_ROTATION_CHOICE
		prompt "Display Rotation"
		help
			Select Display Rotation
		config OLED_DISPLAY_ROTATION_0
            bool "0 degrees"
		config OLED_DISPLAY_ROTATION_90
			bool "90 degrees"
		config OLED_DISPLAY_ROTATION_180
			bool "180 degrees"
		config OLED_DISPLAY_ROTATION_270
			bool "270 degrees"
	endchoice

    config OLED_DISPLAY_ROTATION
        int
        default 0 if OLED_DISPLAY_ROTATION_0
        default 1 if OLED_DISPLAY_ROTATION_90
        default 2 if OLED_DISPLAY_ROTATION_180
        default 3 if OLED_DISPLAY_ROTATION_270
endmenu
