menu "MacDap Temperature Sensor Configuration"

    choice TEMPERATURE_SENSOR_MODEL
        prompt "Temperature Sensor model"
        default TEMPERATURE_SENSOR_PCT2075
        help
            Select Temperature Sensor model

        config TEMPERATURE_SENSOR_PCT2075
            bool "PCT2075"
    endchoice

    config TEMPERATURE_SENSOR_I2C_ADDR
        hex "I2C Temperature Sensor Address"
        range 0 0x7f
        default 0x37
        help
            I2C Temperature Sensor Address.

    config TEMPERATURE_SENSOR_POLLING_INTERVAL_SEC
        int "Temperature Sensor Polling Interval (Seconds)"
        range 0 3600
        default 5
        help
            Interval in seconds between temperature sensor readings. Set to 0 to disable polling.
endmenu
