menu "MacDap Event Loop Configuration"

    config EVENT_LOOP_LOG_ALL_EVENTS
        bool "Log Event Loop events to the console"
        default n
        help
            Enabling this option will log Event Loop events to console.

    config EVENT_LOOP_USE_DEDICATED_TASK
        bool "Use Dedicated Task for Event Loop"
        default n
        help
            Enabling this option will create a dedicated task for the event loop.

    config EVENT_LOOP_QUEUE_SIZE
        int "Queue Size"
        range 0 100
        default 10
            
        help
            Size of the event loop buffer.

    config EVENT_LOOP_TASK_STACK_SIZE
        int "Event Loop Task Stack Size"
        range 0 4096
        default 4096
        depends on EVENT_LOOP_USE_DEDICATED_TASK
        help
            Stack size for the event loop task.

    config EVENT_LOOP_LOCAL_TASK_PRIORITY
        int "Event Loop Task Priority"
        range 0 24
        default 2
        depends on EVENT_LOOP_USE_DEDICATED_TASK
        help
            Priority of local task.

endmenu
