CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_USE_CAPS_ALLOC=y

CONFIG_HUB75_BOARD_CUSTOM=y
CONFIG_HUB75_PANEL_HEIGHT=32
CONFIG_HUB75_SCAN_1_32=y
CONFIG_HUB75_LAYOUT_COLS=2
CONFIG_HUB75_PIN_B2=6
CONFIG_HUB75_PIN_B=16
CONFIG_HUB75_PIN_D=15
